<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= filename %></title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <h1>File: <%= filename %></h1>
    <pre><%= content %></pre>
    <a href="/">Back to Files</a>
</body>
</html>
